<launch>

   <arg name="global_costmap" default="global_costmap_mapless_params" />
   <arg name="slam" default="false" />
   <arg name="use_map" default="false" />
   <arg name="map_name" default="rtabmap" />
   <arg name="database_name" default="rtabmap" />

   <group if="$(eval arg('slam') == false)">
      <!-- Launch mapless navigation by default-->
      <group if="$(eval arg('use_map') == false)">
         <!-- move_base -->
         <include file="$(find noah_2dnav)/launch/move_base.launch">
            <arg name="global_costmap" value="global_costmap_mapless_params" />
         </include>
      </group>
      <!-- Launch navigation with map, if slam if false-->
      <group if="$(eval arg('use_map') == true)">
         <!-- Run the map server -->
         <node name="map_server" pkg="map_server" type="map_server" args="$(find noah_2dnav)/maps/$(arg map_name).pgm 0.05" />
         <!-- AMCL -->
         <include file="$(find noah_2dnav)/launch/amcl.launch" />
         <!-- Move_base -->
         <include file="$(find noah_2dnav)/launch/move_base.launch">
            <arg name="global_costmap" value="global_costmap_map_params" />
         </include>
      </group>
   </group>

   <!-- Launch SLAM-->
   <group if="$(eval arg('slam') == true)">
      <!-- RTAB -->
      <include file="$(find noah_rtabmap)/launch/rtab.launch">
         <arg name="database_name" value="$(arg database_name)" />
      </include>
      <!-- Move_base -->
      <include file="$(find noah_2dnav)/launch/move_base.launch">
         <arg name="global_costmap" value="global_costmap_mapless_params" />
      </include>
   </group>

   <!-- Move base sequence -->
   <include file="$(find noah_control_utils)/launch/move_base_sequence.launch" />

</launch>
