<!-- About: This launchfile loads the robot in the robot description.
	 This includes parsing and executing the xacro related commands -->

<launch>

	<arg name="robot_model" default="accurate_noah"/>

	<param name="robot_description"
		   command="$(find xacro)/xacro '$(find noah_description)/urdf/$(arg robot_model).urdf.xacro' " />

</launch>
