<launch>

    <arg name="robot_model" default="accurate_noah"/>
    <arg name="rviz_config" default="noah_navigation"/>
    <arg name="world_name" default="small_house"/>
    <arg name="map_name" default="rtabmap"/>
    <arg name="global_costmap" default="global_costmap_params"/>
    <arg name="gui" default="false" />

    <!-- Testing world in gazebo (spawns robot) -->
    <include file="$(find noah_gazebo)/launch/noah_test_world.launch" >
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" default="$(arg gui)" />
    </include>

    <!-- Robot description -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find noah_description)/urdf/$(arg robot_model).urdf.xacro' " />

    <!-- RViz -->
    <arg name="rviz" default="true"/>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find noah_rviz)/rviz/$(arg rviz_config).rviz" />

    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Navigation stack -->
    <include file="$(find noah_2dnav)/launch/2dnav.launch" >
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="global_costmap" value="$(arg global_costmap)" />
    </include>

    <!-- Move base sequence -->
    <include file="$(find move_base_utils)/launch/move_base_sequence.launch" />

    <!-- Wayposes publisher -->
    <include file="$(find move_base_utils)/launch/wayposes_publisher.launch" />

</launch>
