<launch>

    <arg name="robot_model" default="accurate_noah"/>
    <arg name="rviz_config" default="noah_slam" />
    <arg name="world_name" default="small_house"/>
    <arg name="database_name" default="rtabmap"/>
    <arg name="global_costmap" default="global_costmap_slam_params" />
    <arg name="gui" default="false" />

    <!-- Testing world in gazebo (spawns robot) -->
    <include file="$(find noah_gazebo)/launch/noah_test_world.launch" >
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" default="$(arg gui)" />
    </include>

    <!-- Rviz -->
    <include file="$(find noah_rviz)/launch/view_noah.launch" >
        <arg name="robot_model" value="$(arg robot_model)"/>
        <arg name="rviz_config" value="$(arg rviz_config)"/>
    </include>

    <!-- SLAM package -->
    <include file="$(find noah_rtabmap)/launch/rtab.launch" >
        <arg name="database_name" value="$(arg database_name)" />
    </include>

    <!-- Navigation stack -->
    <include file="$(find noah_2dnav)/launch/2dnav_mapless.launch" >
        <arg name="global_costmap" value="$(arg global_costmap)" />
    </include>

</launch>
