<launch>

    <arg name="robot_model" default="accurate_noah" />

    <!-- Robot description param -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find noah_description)/urdf/$(arg robot_model).urdf.xacro' " />

    <!-- Spawn Noah bot in the Gazebo world -->
    <node name="spawn_noah" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_model)" />

</launch>
